body {
    background-color: white;
  }
  h1 {
    color: rgb(164, 146, 90);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  ul {
    color: rgb(0, 48, 87);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  label {
    color: rgb(0, 48, 87);
    font-size: larger;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  input {
    color: rgb(0, 48, 87);
    background-color: rgb(249, 246, 229);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
  }
  li {
    list-style-type: none;
    font-size: larger;
  } 
  body {
    padding: 10px;
  }
  div {
    text-align: center;
    padding: 20px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    background-color: white;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0px;
    padding: 15px;
    font-size: 18px;
    text-align: center;
  }